<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
	<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
		<li class="nav-item">
			<a href="#" class="nav-link align-middle px-0">
        		<span class="ml-2 ms-1 d-none d-sm-inline text-dark">Home</span>
			</a>
		</li>
		<li>
			<a href="#" class="nav-link align-middle px-0">
				<span class="ml-2 ms-1 d-none d-sm-inline text-dark">Messaging</span>
			</a>
		</li>
		<li>
			<a href="#" class="nav-link align-middle px-0">
				<span class="ml-2 ms-1 d-none d-sm-inline text-dark">Form</span>
			</a>
		</li>
	</ul>
</div>
